{% comment %}
BookThatApp 'Form 5 - Upcoming Events'
{% endcomment %}

{% if product.metafields.bookthatapp.config %}

{% assign product_in_cart = false %}
{% for item in cart.items %}
	{% if item.product.handle == product.handle %}
		{% assign product_in_cart = true %}
		{% break %}
	{% endif %}
{% endfor %}

<div class="booking-form">
{% if product_in_cart %}
    <p id="booking-guard-{{ product.handle }}">This product is already in your cart. <a href="/cart">View cart</a>.</p>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        $('#booking-guard-{{ product.handle }}').closest('form[action^="/cart/add"]').find('input:submit, button:submit, .hide-if-in-cart').hide();
      });
    </script>
{% else %}
    <table id="events-{{ product.handle }}"
        class="bta-upcoming-events-table" style="width:100%"
        data-handle="{{ product.handle }}" data-name="Date"
        data-bta-max-events="12" data-bta-months="9" data-bta-low-capacity="4"
        data-bta-product-config="{{ product.metafields.bookthatapp.config }}"
        data-bta-variant-config="{% for variant in product.variants %}{{ variant.id }}:{{ variant.metafields.bookthatapp.config }}{% unless forloop.last %},{% endunless %}{% endfor %}"
        data-available-label="Space Available"
        data-partially-available-label="{available} Places Remaining"
        data-last-available-label="1 Place Remaining"
        data-booked-out-label="No Space Available">
  	    <tr>
  	        <td colspan="3" class="loading">Loading...</td>
  	    </tr>
    </table>
{% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('form[action^="/cart/add"]').on('bta.upcomingEventsLoaded', function(event, form) {
      if ($('#events-{{ product.handle }} tr').length == 0) {
        $('#events-{{ product.handle }}').append("<tr><td colspan='3'><i>No events are scheduled at this time. Please check back later.</i></td></tr>");
      }

      if ($('#events-{{ product.handle }} tr').length == 0 || $('#events-{{ product.handle }} input[type=radio]').not(':disabled').length == 0) {
        // no scheduled events are available - disable the add to cart button
        $('events-{{ product.handle }}').closest('form[action^="/cart/add"]').find('input:submit, button:submit').prop('disabled', true);
      }
    });

    {% unless bta_configured %}
    var forms = document.forms;
    for (var x = 0; x < forms.length; x++) {
      if (forms[x].action.indexOf('/cart/add') > -1) {
        // prevent form submit until bta has finished loading
        forms[x].addEventListener("submit", function (event) {
          // check if bta has loaded
          if (!this.classList.contains("bta-active")) {
            event.preventDefault();
          }
        }, true);
      }
    }
    {% assign bta_configured = true %}
    {% endunless %}
  });
</script>
{% endif %}
